*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#e8e8e8;
    font-family:'Poppins',sans-serif;
    overflow:hidden;
}

.parent {
  width: 360px;
  height: 390px;
  perspective: 1000px;
  position: relative;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 55px;
  background: linear-gradient(135deg, #fc466b 0%, #3f5efb 100%);
  transition: all 0.5s ease-in-out;
  transform-style: preserve-3d;
  box-shadow:
    rgba(37, 5, 71, 0) 40px 50px 25px -40px,
    rgba(34, 5, 71, 0.2) 0px 25px 25px -5px;
  position: relative;
  z-index: 1;
}

.glass {
  transform-style: preserve-3d;
  position: absolute;
  inset: 8px;
  border-radius: 55px;
  border-top-right-radius: 100%;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.349) 0%,
    rgba(255, 255, 255, 0.815) 100%
  );
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transform: translate3d(0px, 0px, 25px);
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  transition: all 0.5s ease-in-out;
}

.content {
  padding: 120px 130px 0px 35px;
  transform: translate3d(0, 0, 26px);
  position: relative;
  z-index: 20;
}

.content .title{
    display:block;
    color:#fff;
    font-size:32px;
    font-weight:800;
    line-height:1;
    letter-spacing:1px;
    text-transform:uppercase;
}

.content .text{
    display:block;
    margin-top:22px;
    color:rgba(255,255,255,.9);
    font-size:16px;
    line-height:1.55;
    font-weight:400;
}

.bottom{
    position:absolute;
    left:35px;
    right:35px;
    bottom:30px;

    display:flex;
    justify-content:flex-start;
    align-items:center;
    gap:18px;

    transform:translate3d(0,0,26px);
    z-index:25;
}

.bottom .social-buttons-container {
  display: flex;
  gap: 10px;
  transform-style: preserve-3d;
}

.bottom .social-buttons-container .social-button {
  width: 30px;
  aspect-ratio: 1;
  padding: 5px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: none;
  display: grid;
  place-content: center;
  box-shadow: rgba(28, 5, 71, 0.5) 0px 7px 5px -5px;
  cursor: pointer;
  transition:
    transform 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out,
    background 0.2s ease-in-out;
}

.bottom .social-buttons-container .social-button:first-child {
  transition-delay: 0.05s;
}

.bottom .social-buttons-container .social-button:nth-child(2) {
  transition-delay: 0.1s;
}

.bottom .social-buttons-container .social-button:nth-child(3) {
  transition-delay: 0.15s;
}

.bottom .social-buttons-container .social-button .svg {
  width: 15px;
  fill: #3f5efb;
}

.bottom .social-buttons-container .social-button:hover {
  background: black;
  transform: scale(1.1) translate3d(0, 0, 40px);
  box-shadow: rgba(34, 5, 71, 0.4) -5px 15px 10px 0px;
}

.bottom .social-buttons-container .social-button:hover .svg {
  fill: white;
}

.bottom .social-buttons-container .social-button:active {
  background: rgb(136, 0, 255);
  transform: scale(1.05) translate3d(0, 0, 30px);
}

.bottom .social-buttons-container .social-button:active .svg {
  fill: black;
}

.logo {
  position: absolute;
  right: 0;
  top: 0;
  transform-style: preserve-3d;
  z-index: 5;
}

.logo .circle {
  display: block;
  position: absolute;
  aspect-ratio: 1;
  border-radius: 50%;
  top: 0;
  right: 0;
  box-shadow: rgba(100, 100, 111, 0.2) -10px 10px 20px 0px;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, 0.233);
  transition: all 0.5s ease-in-out;
}

.logo .circle1 {
  width: 170px;
  transform: translate3d(0, 0, 20px);
  top: 8px;
  right: 8px;
}

.logo .circle2 {
  width: 140px;
  transform: translate3d(0, 0, 40px);
  top: 10px;
  right: 10px;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  transition-delay: 0.1s;
}

.logo .circle3 {
  width: 110px;
  transform: translate3d(0, 0, 60px);
  top: 17px;
  right: 17px;
  transition-delay: 0.2s;
}

.logo .circle4 {
  width: 80px;
  transform: translate3d(0, 0, 80px);
  top: 23px;
  right: 23px;
  transition-delay: 0.3s;
}

.logo .circle5 {
  width: 50px;
  transform: translate3d(0, 0, 100px);
  top: 30px;
  right: 30px;
  display: grid;
  place-content: center;
  transition-delay: 0.4s;
}

.logo .circle5 .svg {
  width: 20px;
  fill: white;
}

.parent:hover .card {
  transform: rotate3d(1, 1, 0, 30deg);
  box-shadow:
    rgba(28, 5, 71, 0.3) 30px 50px 25px -40px,
    rgba(28, 5, 71, 0.3) 0px 25px 30px 0px;
}

.parent:hover .card .bottom .social-buttons-container .social-button {
  transform: translate3d(0, 0, 50px);
  box-shadow: rgba(34, 5, 71, 0.2) -5px 20px 10px 0px;
}

.parent:hover .card .logo .circle2 {
  transform: translate3d(0, 0, 60px);
  background: rgba(255, 255, 255, 0.3);
}

.parent:hover .card .logo .circle3 {
  transform: translate3d(0, 0, 80px);
  background: rgba(255, 255, 255, 0.4);
}

.parent:hover .card .logo .circle4 {
  transform: translate3d(0, 0, 100px);
  background: rgba(255, 255, 255, 0.5);
}

.parent:hover .card .logo .circle5 {
  transform: translate3d(0, 0, 120px);
  background: rgba(255, 255, 255, 0.6);
}

@media (max-width: 600px) {
  .parent {
    width: 250px;
    height: 280px;
  }
  .content {
    padding: 80px 40px 0px 20px;
  }
  .content .title {
    font-size: 18px;
  }
  .content .text {
    font-size: 13px;
    margin-top: 15px;
  }
}

.follow-btn{
    margin-left:auto;

    width:110px;
    height:42px;

    border:none;
    border-radius:50px;

    background:#fff;
    color:#3f5efb;

    font-size:15px;
    font-weight:700;

    cursor:pointer;

    transition:.3s;
}

.follow-btn:hover{
    background:#3f5efb;
    color:#fff;
    transform:translateY(-3px);
}
